################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
packages
.vs
*.log
ocelot.json
PublishProfiles

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates